<div class="hero__banner grid grid__1x2">
      
    <img src="./images/illustration-1.svg" alt="" class="hero__image" />
    

    <div class="hero__content">
      <h1 class="hero-heading">
        All your files in one secure location, accessible anywhere.
      </h1>
      <p class="hero-description">
        Fylo stores your most important files in one secure location. Access
        them wherever you need, share and collaborate with friends, family,
        and co-workers.
      </p>

      <form action="" method="post">
        <div class="form__input">
          <input
            type="email"
            class="form__input-email form__input-emobile form__input-firstemail"
            id="form__input-email"
            name="email"
            placeholder="Enter your email"
            required
          />
          <button class="btn btn__secondary btn__firstemail" type="submit">
            Get Started
          </button>
        </div>
      
    </div>
  </div>