<!-- first form -->
<form action="" method="post">
  <div class="form__input">
    <input
      type="email"
      class="form__input-email form__input-emobile form__input-firstemail"
      id="form__input-email"
      name="email"
      required
    />
    <button class="btn btn__secondary btn__firstemail" type="submit">
      Get Started
    </button>
  </div>

  <!-- second form -->

  <form action="" method="post">
    <div class="form__input">
      <input
        type="email"
        class="form__input-email form__input-emobile form__input-secondemail"
        id="form__input-email"
        name="email"
        required
      />
      <button class="btn btn__secondary btn__secondemail" type="submit">
        Get Started
      </button>
    </div>
  </form>
</form>
