<div class="testimonial">
  <img src="./images/icon-quotes.svg" alt="" class="testimonial__quote" />
  <p class="testimonial-content">
    Fylo has improved our team productivity by an order of magnitude. Since
    making the switch our team has become a well-oiled collaboration machine.
  </p>

  <section class="user__testimonial">
    <img
      src="./images/avatar-testimonial.jpg"
      alt=""
      class="testimonial__user-avatar"
    />

    <div class="testimonial__user-profile">
      <p class="testimonial__user-name">Kyle Burton</p>
      <p class="testimonial__user-position">Founder & CEO, Huddle</p>
    </div>
  </section>
</div>
